.trans {
  text-decoration: none !important;
  background-color: rgba(200, 200, 200, 0.5);
  color: #fff;
}
.trans:hover {
  background-color: rgba(200, 200, 200, 0.8);
  text-decoration: none;
  color: #000;

}


.header-container {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 20;
}
